.page-container {
    height: 100vh;
    width: 100%;
    display: flex;
    margin: 1.5rem;
    .img_bg{
        background-repeat: no-repeat;
        background-position:left;
        height: 100%;
        width: 50%;
        background-size: contain;
        // flex: ;
    }
    .bg_content {
        margin-top: 15%;
        margin-left: 5em;
        align-items:end;
        align-content: center;
        h1 {    
            width: 13em;
        }
        .button {
            margin-top: 4em;
        }
    }
}
